<ion-header>
  <ion-toolbar class="top-menu">  
    <img src="../../assets/Logo Bussola.png" alt="" class="img-menu">  
    <ion-title class="center">
      Pra onde ir
    </ion-title>
    <ion-title class="login">
    <ion-text class="text-login">
        <a href="">Login</a> 
    </ion-text>
    <ion-text>
        <a href="">Logout</a> 
      </ion-text>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide class="slide-home">
          <img src="../../assets/Imagens-Cidades/Cidade Bonito.jpg">
        </ion-slide>
          <ion-slide class="slide-home">
            <img src="../../assets/Imagens-Cidades/Cidade Trancoso Bahia.jpg">
          </ion-slide>
            <ion-slide class="slide-home">
              <img src="../../assets/Imagens-Cidades/Cidade Paraty - Rj.jpg">
            </ion-slide>
              <ion-slide class="slide-home">
                <img src="../../assets/Imagens-Cidades/Holambra São paulo.jpg">
              </ion-slide>
                <ion-slide class="slide-home">
                  <img src="../../assets/Imagens-Cidades/Aquario de São Paulo.jpg">
                </ion-slide>
                  <ion-slide class="slide-home">
                    <img src="../../assets/Imagens-Cidades/Arena fonte nova Salvador.jpg">
                  </ion-slide>
                    <ion-slide class="slide-home">
                      <img src="../../assets/Imagens-Cidades/Palacio Rio Branco Salvador.jpg">
                    </ion-slide>
                      <ion-slide class="slide-home">
                        <img src="../../assets/Imagens-Cidades/Cidade Maravilhosa.jpg">
                      </ion-slide>
                        <ion-slide class="slide-home">
                          <img src="../../assets/Imagens-Cidades/Santa Catarina.jpg">
                        </ion-slide>
      </ion-slides>
  
   
</ion-content>
