.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.center{
  text-align: center;
  padding-top: 40px;
  margin-right: 55px;
}
.top-menu{
  height: 100px;
}
.img-menu{
  text-align: left;
  border: solid 1px #000;
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 25px; 
  margin-left: 10px;
}
