<ion-header>
  <ion-toolbar class="top-menu">  
    <img src="../../assets/Logo Bussola.png" alt="" class="img-menu">  
    <ion-title class="center">
      Pra onde ir
    </ion-title>
    <ion-title class="login">
    <ion-text class="text-login">
        <a href="">Login</a> 
    </ion-text>
    <ion-text>
        <a href="">Logout</a> 
      </ion-text>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-text class="text2">
        <h1>Informe-se aqui no Pra onde ir</h1>
      </ion-text>

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide class="slide-home">
            <a href="https://www.visiteobrasil.com.br/brasil/belezas-naturais">
              <h2 class="legend">Belezas naturais</h2>
                 <img src="../../assets/Imagens-Cidades/Cidade Bonito.jpg"></a>
        </ion-slide>
          <ion-slide class="slide-home">
            <a href="https://blog.guichevirtual.com.br/praias-paradisiacas/">
              <h2 class="legend2">Praias paradisíacas</h2>
                <img src="../../assets/Imagens-Cidades/Cidade Trancoso Bahia.jpg"></a>
          </ion-slide>
             <ion-slide class="slide-home">
               <a href="http://basilio.fundaj.gov.br/pesquisaescolar/index.php?option=com_content&view=article&id=881:patrimonio-da-humanidade-no-brasil&catid=50:letra-p">
                 <h2 class="legend3">Patrimônios</h2>
                   <img src="../../assets/Imagens-Cidades/Cidade Paraty - Rj.jpg"></a>
             </ion-slide>
                <ion-slide class="slide-home">
                  <a href="http://www.fabulosodestino.com.br/blog/colonias-europeias-brasil/">
                    <h2 class="legend4">Colônias</h2>
                      <img src="../../assets/Imagens-Cidades/Holambra São paulo.jpg"></a>
                </ion-slide>
                   <ion-slide class="slide-home">
                     <a href="https://bioaquatica.webnode.com.br/museus-aquarios/">
                       <h2 class="legend5">Museus, aquários e espaços públicos</h2>
                         <img src="../../assets/Imagens-Cidades/Aquario de São Paulo.jpg"></a>
                   </ion-slide>
                      <ion-slide class="slide-home">
                        <a href="https://www.buladeviagem.com/1526-as-10-cidades-mais-divertidas-do-brasil/">
                          <h2 class="legend6">Entretenimento</h2>
                            <img src="../../assets/Imagens-Cidades/Arena fonte nova Salvador.jpg"></a>
                      </ion-slide>
                         <ion-slide class="slide-home">
                           <a href="https://viajando.expedia.com.br/cidades-mais-artisticas-do-brasil/">
                             <h2 class="legend7">Cultura</h2>
                               <img src="../../assets/Imagens-Cidades/Palacio Rio Branco Salvador.jpg"></a>
                         </ion-slide>
                           <ion-slide class="slide-home">
                             <a href="https://www.postalbrasil.com.br/vg/descobrir/cartoespostais">
                               <h2 class="legend8">Cartões postais</h2>
                                 <img src="../../assets/Imagens-Cidades/Cidade Maravilhosa.jpg"></a>
                         </ion-slide>
                              <ion-slide class="slide-home">
                                <a href="https://www.guiadoturismobrasil.com/roteiros">
                                  <h2 class="legend9">Passeios turíticos</h2>
                                    <img src="../../assets/Imagens-Cidades/Santa Catarina.jpg"></a>
                              </ion-slide>
    </ion-slides>


         <ion-text class="text3">
            <h2>Sobre o aplicativo:</h2>
              <p>O Pra onde ir é um aplicativo de informarção para viagens de turismo
              para que você se informe sobre as cidades que deseja visitar quando viajar
              e saber se elas são ou não boas opções para o turismo e assim ajudá-lo a
              decidir a melhor escolha.
              </p>
         </ion-text>

           <ion-footer>
             <ion-toolbar>
               <ion-title class="rodape">Informantes Tour S/A - Pra onde ir</ion-title>
             </ion-toolbar>
           </ion-footer>
  
   
</ion-content>
