.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.center{
  text-align: center;
  padding-top: 40px;
  margin-right: 80px;
  color: rgb(3, 71, 49);
}
.top-menu{
  height: 100px;
  
}
.img-menu{
  text-align: left;
  border: solid 1px #000;
  width: 70px;
  height: 70px;
  float: left;
  margin-top: 15px; 
  margin-left: 20px;
  border-radius: 50%;
}
.login{
  float: right;
  margin-right: 10px;
  font-size: 12px;
  margin-top: -19px;
  
}
a {
  text-decoration: none;
}
.text-login{
  margin-right: 8px;
}
.slide-home{
  margin-top: 100px;
}


