
.slide-home{
    margin-top: 30px;
  }

  .slide-home h1{
    color: #000000;
    margin-top: 3px;
  }

  .text{
    color: rgb(145, 7, 7);
    text-align: center;
    font-size: 25px;
  }

  a{
    color: #000000;
    font-size: 20px;
    text-decoration: none;
  }

  p{
    color: rgb(6, 43, 138);
    font-size: 18px;
  }

  .letra{
    color: rgb(6, 43, 138);
    font-size: 14px;
  }

  .icon{
    margin-top: 20px;
    margin-left: 125px;
  }

  .icon2{
    margin-top: 20px;
    margin-left: 70px;
  }

  .rodape2 {
    color: #fff;
    font-size: 12px;
    text-align: center;
    background-color: rgb(3, 87, 87);
  }