<ion-header>
  <ion-toolbar>
    <ion-title>
      Cidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="text">
    <h1>Cidades turísticas</h1>
  </ion-text>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide class="slide-home">
          <a href="https://turismo.ig.com.br/destinos-nacionais/2019-09-27/caribe-brasileiro-saiba-como-aproveitar-arraial-do-cabo-no-rio-de-janeiro.html">
                <h2 class="title">Arraial do Cabo</h2>
                 <p>Uma cidade paradisíaca que é considerada o caribe brasileiro.</p>                        
            <img src="../../assets/Imagens-Cidades/Arraial do Cabo.jpg"></a>
        </ion-slide>
          <ion-slide class="slide-home">
            <a href="https://catracalivre.com.br/viagem-livre/campos-do-jordao-e-destino-para-ir-o-ano-todo-confira-dicas/">
              <h2 class="title2">Campos do Jordão</h2>
                <p>Uma cidade estilo européia é considerada a Suíça brasileira.</p>
             <img src="../../assets/Imagens-Cidades/Campos do Jordao.jpg"></a>
          </ion-slide>
            <ion-slide class="slide-home">
              <a href="http://visit.rio/">
                <h2 class="title3">Rio de Janeiro</h2>
                  <p>A cidade maravilhosa é uma das mais belas do planeta.</p>
               <img src="../../assets/Imagens-Cidades/rio-de-janeiro.jpg"></a>
            </ion-slide>
    </ion-slides>

        <ion-slides pager="true" [options]="slideOpts">
              <ion-slide class="slide-home">
                <a href="http://guiadolitoral.uol.com.br/guaruja-sp.html">
                  <h2 class="title4">Guarujá</h2>
                    <p>Uma cidade de belas praias no litoral paulista é uma das mais visitadas do Brasil.</p>
                 <img src="../../assets/Imagens-Cidades/Guaruja.jpg"></a>
              </ion-slide>
                <ion-slide class="slide-home">
                  <a href="https://www.praiasdenatal.com.br/natal-rn/">
                    <h2 class="title5">Natal</h2>
                      <p>Uma cidade de lindas praias paradisíacas do Nordeste brasileiro.</p>
                   <img src="../../assets/Imagens-Cidades/Natal.jpg"></a>
                </ion-slide>
                  <ion-slide class="slide-home">
                    <a href="https://portalgramado.com.br/a-cidade/">
                      <h2 class="title6">Gramado</h2>
                        <p>A cidade gaúcha possui um estilo europeu e é uma das mais visitadas do Brasil.</p>
                     <img src="../../assets/Imagens-Cidades/Cidade Gramado.jpg"></a>
                  </ion-slide>
        </ion-slides>

           <ion-slides pager="true" [options]="slideOpts">
                    <ion-slide class="slide-home">
                      <a href="https://guia.melhoresdestinos.com.br/florianopolis-65-c.html">
                        <h2 class="title7">Florianópolis</h2>
                          <p>Uma cidade cheia de seus encantos com belas praias.</p>
                       <img src="../../assets/Imagens-Cidades/Florianopolis.jpg"></a>
                    </ion-slide>
                      <ion-slide class="slide-home">
                        <a href="https://tireabundadosofa.com.br/o-que-fazer-em-guarapari-es/">
                          <h2 class="title8">Guarapari</h2>
                            <p>Guarapari é uma cidade com várias praias, cartões postais e uma gastronomia variada.</p>
                         <img src="../../assets/Imagens-Cidades/Guarapari.jpg"></a>
                      </ion-slide>
                        <ion-slide class="slide-home" >
                         <a href="https://www.cidade-brasil.com.br/municipio-foz-do-iguacu.html">
                          <h2 class="title9">Foz do Iguaçu</h2>
                            <p>Foz do Iguaçu e as belezas naturais das Cataratas, um dos destinos mais visitados.</p>
                          <img src="../../assets/Imagens-Cidades/Foz do iguacu - Parana.jpg"></a>
                        </ion-slide>
           </ion-slides>

</ion-content>
