<ion-header>
  <ion-toolbar>
    <ion-title>
      Cidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide class="slide-home">
          <a href="https://turismo.ig.com.br/destinos-nacionais/2019-09-27/caribe-brasileiro-saiba-como-aproveitar-arraial-do-cabo-no-rio-de-janeiro.html">
            <h1>Arraial do Cabo</h1>
              <p>Uma cidade paradisíaca que é considerada o caribe brasileiro.</p>
            <img src="../../assets/Imagens-Cidades/Arraial do Cabo.jpg"></a>
        </ion-slide>
          <ion-slide class="slide-home">
            <a href="https://catracalivre.com.br/viagem-livre/campos-do-jordao-e-destino-para-ir-o-ano-todo-confira-dicas/">
              <h1>Campos do Jordão</h1>
                <p>Uma cidade estilo européia é considerada a Suíça brasileira.</p>
             <img src="../../assets/Imagens-Cidades/Campos do Jordao.jpg"></a>
          </ion-slide>
            <ion-slide class="slide-home">
              <a href="http://visit.rio/">
                <h1>Rio de Janeiro</h1>
                  <p>A cidade maravilhosa é uma das mais belas do planeta.</p>
               <img src="../../assets/Imagens-Cidades/rio-de-janeiro.jpg"></a>
            </ion-slide>
    </ion-slides>

        <ion-slides pager="true" [options]="slideOpts">
              <ion-slide class="slide-home">
                <a href="http://guiadolitoral.uol.com.br/guaruja-sp.html">
                  <h1>Guarujá</h1>
                    <p>Uma cidade de belas praias no litoral paulista é uma das mais visitadas do Brasil.</p>
                 <img src="../../assets/Imagens-Cidades/Guaruja.jpg"></a>
              </ion-slide>
                <ion-slide class="slide-home">
                  <a href="https://www.praiasdenatal.com.br/natal-rn/">
                    <h1>Natal</h1>
                      <p>Uma cidade de lindas praias paradisíacas do Nordeste brasileiro.</p>
                   <img src="../../assets/Imagens-Cidades/Natal.jpg"></a>
                </ion-slide>
                  <ion-slide class="slide-home">
                    <a href="https://portalgramado.com.br/a-cidade/">
                      <h1>Gramado</h1>
                        <p>A cidade gaúcha possui um estilo europeu e é uma das mais visitadas do Brasil.</p>
                     <img src="../../assets/Imagens-Cidades/Cidade Gramado.jpg"></a>
                  </ion-slide>
        </ion-slides>

           <ion-slides pager="true" [options]="slideOpts">
                    <ion-slide class="slide-home">
                      <a href="https://guia.melhoresdestinos.com.br/florianopolis-65-c.html">
                       <img src="../../assets/Imagens-Cidades/Florianopolis.jpg"></a>
                    </ion-slide>
                      <ion-slide class="slide-home">
                        <a href="https://tireabundadosofa.com.br/o-que-fazer-em-guarapari-es/">
                         <img src="../../assets/Imagens-Cidades/Guarapari.jpg"></a>
                      </ion-slide>
                        <ion-slide class="slide-home" >
                         <a href="https://www.cidade-brasil.com.br/municipio-foz-do-iguacu.html">
                          <img src="../../assets/Imagens-Cidades/Foz do iguacu - Parana.jpg"></a>
                        </ion-slide>
           </ion-slides>

</ion-content>
